export PATH=$(npm bin):$PATH

export AWS_ACCESS_KEY_ID=xxxx
export AWS_SECRET_ACCESS_KEY=xxxx

export SAMPLE_APP_AWS_COGNITO_USER_POOL_ID_DEV=
export SAMPLE_APP_AWS_COGNITO_USER_POOL_ID_V1=

export SAMPLE_APP_AWS_COGNITO_USER_POOL_CLIENT_ID_DEV=
export SAMPLE_APP_AWS_COGNITO_USER_POOL_CLIENT_ID_V1=

export SAMPLE_APP_AWS_COGNITO_IDENTITY_POOL_ID_DEV=
export SAMPLE_APP_AWS_COGNITO_IDENTITY_POOL_ID_V1=

export SAMPLE_APP_ADMIN_API_KEY=
